<section class="card">
    <div class="card-body">
        <h1 class="display-4">Proyecto Libreria</h1>
        <p class="lead">Este proyecto esta creado fuera de horas del BootCamp de Factoria F5 por el Grupo 6 el cual esta formado por:</p>
        <ul>
            <li>Arturo</li>
            <li>Javi</li>
            <li>Lito</li>
            <li>Pablin</li>
        </ul>
    </div>
</section>