    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h1 class="card-title text-center">Bienvenido</h1>
                    <br>
                    <p>Estas apunto de entrar en la mejor tienda de Libros:</p>
                    <br>
                    <h2 class="text-center">¡Tu tienda!</h2>
                </div>
            </div>
        </div>
    </div>